@import url("https://fonts.googleapis.com/css?family=PT+Sans:regular,700&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=PT+Sans+Caption:regular,700&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans:regular");
@import url("https://fonts.googleapis.com/css?family=Montserrat:700,800,900");
body {
	font-family: "PT Sans";
}

$pink: rgb(187, 3, 103);
$blue: rgb(11, 84, 157);
$black: rgb(1, 29, 58);
$gray: rgb(153, 153, 153);

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.container {
	max-width: 1200px;
	position: relative;
	margin: 0 auto;
	padding-left: 30px;
	padding-right: 30px;
}

.first {
	background-image: url(../img/bg1.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

.offer {
	display: flex;
	padding-top: 65px;
	padding-bottom: 65px;
	align-items: center;
	justify-content: space-between;
	.offer__itself {
		padding-right: 20px;
	}
	h1 {
		font-size: 50px;
		line-height: 1;
		font-weight: 400;
		padding-bottom: 34px;
		span {
			font-size: 40px;
		}
	}
	.procedure {
		font-size: 17px;
		padding-bottom: 34px;
		line-height: 1.5;
	}
	&__itself {
		color: white;
		flex: 0 1 50%;
		a {
			color: white;
			padding-bottom: 34px;
			border: 1px solid white;
			padding: 7px 14px 7px 14px;
		}
	}

	&__price {
		display: flex;
		align-items: center;
		padding-bottom: 34px;
	}
	&__sum {
		font-size: 40px;
		padding-right: 15px;
	}
	&__seance {
		font-size: 30px;
		padding-right: 15px;
	}
	&__action {
		font-size: 14px;
		background-color: $pink;
		padding: 5px 14px 7px 14px;
		border-radius: 100%;
	}

	&__form {
		color: $black;
		flex: 0 1 50%;
		display: flex;
		justify-content: flex-end;
		form {
			padding: 30px;
			border-radius: 5px;
			background-image: url(../img/bg-in-form.jpg);
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-size: cover;
			width: 350px;
			height: 430px;
			h3 {
				font-size: 24px;
				color: $black;
				padding-bottom: 10px;
			}
			p {
				font-size: 12px;
				color: $gray;
				padding-bottom: 30px;
			}
			.form__item {
				padding: 0 0 20px 0;
			}
			label {
				line-height: 2;
			}
			input {
				display: block;
				background-color: white;
				border: 1px $gray solid;
				width: 100%;
				border-radius: 5px;
				height: 49px;
				padding: 0 15px 0 15px;
			}
			a {
				background-image: linear-gradient(to right, $blue, rgb(49, 121, 184));
				color: white;
				width: 100%;
				height: 49px;
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 0 0 20px 0;
				border-radius: 5px;
				transition: all 0.5s ease 0s;
				&:hover {
					background-image: linear-gradient(to right, $blue, rgb(108, 184, 250));
				}
			}
			.conditions {
				background: none;
				color: $blue;
				margin: 0;
				width: auto;
				height: auto;
			}
			.form {
				display: flex;
			}
			.checkbox {
				display: flex;
				&__input {
					display: none;
				}

				&__label {
					font-size: 16px;
					line-height: 140%;
					display: inline-flex;
					align-items: center;
					position: relative;
					cursor: pointer;
					justify-content: space-between;
				}
			}

			.checkbox__label::before {
				content: "";
				align-self: flex-start;
				flex: 0 0 24px;
				height: 24px;
				background-color: #fff;
				border-radius: 4px;
				margin: 0px 10px 0px 0px;
				border: $gray solid 1px;
			}
			.checkbox__label::after {
				transition: transform 0.5s ease 0s;
				content: "";
				width: 16px;
				height: 16px;
				position: absolute;
				top: 4px;
				left: 4px;
				background-color: $blue;
				border-radius: 4px;
				transform: scale(0);
			}
			.checkbox__input:checked + .checkbox__label::after {
				transform: scale(1);
			}
		}
	}
}
.popup:target {
	opacity: 1;
	visibility: visible;
	/* display: block; */
}
.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(250, 250, 250, 0.5);
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.5s ease 0s;
	z-index: 5;
}

:focus,
:active {
	outline: none;
}
.popup__body {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 10px;
	position: relative;
	z-index: 7;
}
a:focus,
a:active {
	outline: none;
}
.popup__area {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.popup__content {
	background: linear-gradient(to bottom right, #1e3d73, #2a5297);
	color: white;
	width: 350px;
	height: 430px;
	padding: 30px;
	position: relative;
	font-size: 20px;
	line-height: 30px;
	border-radius: 5px;
}
.popup__close {
	position: absolute;
	right: 15px;
	top: 10px;
	font-size: 20px;
	color: white;
	text-decoration: none;
}
.close-in-popup {
	fill: white;
	width: 15px;
	height: 15px;
}
.popup__title {
	font-size: 40px;
	padding-top: 0;
	padding-bottom: 40px;
}
.popup__text {
	color: white;
	font-size: 16px;
}

.second {
}
.main {
	display: flex;
	padding-top: 65px;
	padding-bottom: 65px;
	&__for-slider {
		flex: 0 1 35%;
	}

	&__center {
		flex: 0 1 35%;
		.psy {
			font-size: 20px;
			font-weight: 500;
		}
		h2 {
			font-size: 24px;
			font-weight: 600;
			color: rgb(1, 29, 58);
			line-height: 1;
			text-align: left;
			padding-bottom: 20px;
		}
		p {
			font-size: 14px;
			line-height: 1.5;
		}
		button {
			color: $pink;
		}
		#more {
			display: none;
		}
	}

	&__for-paper {
		flex: 0 1 30%;
	}
}

@media (max-width: 767px) {
	.offer {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.offer__itself {
			text-align: center;
			margin-bottom: 40px;
			padding-right: 0;
		}
		h1 {
			font-size: calc(35px + 15 * ((100vw - 320px) / (1500 - 320)));
			white-space: nowrap;
			span {
				font-size: calc(30px + 10 * ((100vw - 320px) / (1500 - 320)));
			}
		}
		.procedure {
			font-size: 16px;
			padding-left: 20px;
			padding-right: 20px;
		}
		.offer__sum {
			white-space: nowrap;
			font-size: calc(30px + 10 * ((100vw - 320px) / (1500 - 320)));
		}
		.offer__seance {
			font-size: calc(20px + 10 * ((100vw - 320px) / (1500 - 320)));
		}
		.offer__price {
			justify-content: center;
		}
		// .offer__form {
		// 	width: 300px;
		// }
	}
}
@media (max-width: 400px) {
	.offer__form {
		form {
			width: 100%;
		}
	}
	.popup__content {
		width: 100%;
	}
}
