.slick-slider {
	min-width: 0;
}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
	position: relative;
	border-radius: 8px;
}
/* Лента слайдов */
.slick-track {
	display: flex;
	align-items: flex-start;
}



/* Конкретный слайдер Наши специалисты */
.slider-three-section {
	position: relative;
	padding: 0;
	flex: 0 1 35%;
	min-width: 0;
	z-index: 1;
}

@media (max-width: 767px) {
	.slider-three-section {
		padding: 0px 0px;
	}
}

.slider-three-section .slick-arrow {
	position: absolute;
	bottom: 0px;
	z-index: 2;
	font-size: 0;
	width: 50px;
	height: 50px;
}
.slider-three-section .slick-arrow.slick-prev {
	right: 50px;
	background: url("../img/arrow-left.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 30% 40%;
	border-radius: 8px 0px 0px 0px;
	background-color: #bb0367;
}
.slider-three-section .slick-arrow.slick-next {
	right: 0px;
	background-image: url("../img/arrow-right.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 30% 40%;
	border-radius: 0px 0px 8px 0px;
	background-color: #bb0367;
	/* border-left: solid white 1px; */
}
.slider-three-section .slick-arrow.slick-disabled {
	opacity: 0.2;
}

.slider-three-section .slick-dots {
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider-three-section .slick-dots li {
	list-style: none;
	margin: 0px 0px;
}
.slider-three-section .slick-dots button {
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: red;
	border-radius: 50%;
}

.slider-three-section .slick-dots li.slick-active button {
	background-color: transparent;
	border: 1px solid green;
}

.slider-three-section .slider__item {
	padding: 0px 0px;
	/* margin: 0px 20px; */
	border-radius: 8px;
}
.slider-three-section .slider__item img {
	max-width: 100%;
	position: relative;
}

.star {
	position: absolute;
	top: 170px;
	left: -170px;
	width: 350px;
}
.for-rounded-rectangle {
	position: absolute;
	z-index: 2;
	top: 300px;
	left: 0;
	display: flex;
	justify-content: center;
	/* margin: 5px; */
}
.for-rounded-rectangle p {
	position: relative;
	z-index: 3;
	text-align: center;
}
.more {
	margin-top: 35px;
	font-size: 18px;
	color: rgb(1, 29, 58);
}
.ten {
	font-size: 72px;
	font-family: "Montserrat";
	color: rgb(11, 84, 157);
	font-weight: bold;
}
.years {
	font-size: 20px;
	color: rgb(11, 84, 157);
	font-weight: bold;
}
.for-10 {
	/* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.19); */
	position: absolute;
}
.main__first {
	min-width: 0;
	flex: 0 1 35%;
	position: relative;
}